body{
    font-family : Arial, Helvetica, sans-serif ;
    margin :0 ;
    padding :0 ;
    background-color: #f5f5f5;
    color : #333;


}

.container{
    max-width : 1500px;
    margin :auto;
    padding :30px;
    background-color :#ffffff;

}

h1{
    font-size : 25px;
    padding : 40px;
    text-align: center;
    margin-bottom : 15px;

}

h2{
    font-size: 15px;
    padding-bottom : 5px;
    text-align : left;
    border-bottom: 2px solid #eee;

}

h3 {
    padding : 6px;
    text-align : left ;
}

ul li {

    padding: 10px;

}

nav {
    display : flex ;
    gap : 40px ;
    margin-bottom:50px;
    text-align : center;

}

nav a{
    text-decoration:none;
    color :#333;
    font-weight: bold;

}

nav a:hover {
    color :#0077cc;
}

@media (max-width : 400px) {
    body {
        font-size: 15px;
    }

    nav{
        flex-direction : column ;
        gap : 20px;
    }
    h1{
        font-size: 15px;
    }
    h2{
        font-size: 8px;
    }
    h3{
        font-size: 3px;
    }    
}

section {
    margin-top : 20px;
}
